# Ignore les fichiers pycache
__pycache__/

# Ignore les fichiers de base de données SQLite
db.sqlite3

# Ignore les fichiers de configuration sensibles (par exemple, settings.py avec des secrets)
/config/settings/local.py
/config/settings/secret_key.py

# Ignore les fichiers de médias téléchargés (à moins d'utiliser un stockage externe)
/media/

# Ignore les fichiers de fichiers statiques collectés (à moins d'utiliser un stockage externe)
/staticfiles/

# Ignore les fichiers d'environnement (par exemple, .env contenant des variables d'environnement)
.env
