asgiref
attrs
autobahn
Automat
certifi
cffi
channels
charset-normalizer
constantly
crispy-bootstrap5
cryptography
daphne
decouple
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-filter
django-guardian
djangochannelsrestframework
djangorestframework
hyperlink
idna
incremental
Markdown
Pillow
pyasn1
pyasn1-modules
pycparser
Pygments
pyOpenSSL
pytz
requests
service-identity
six
sqlparse
Twisted
txaio
typing_extensions
uritemplate
urllib3
zope.interface
