{% extends 'base.html' %}

{% block content %}
  <script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

  const notifSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/notif/feed/'
);
notifSocket.onopen=function(){
  console.log("connection is open")
}
notifSocket.onmessage=function(e){
  const data=JSON.parse(e.data)
  console.log(data)
}
notifSocket.onclose=function(e){
  console.error(e)
  
}
  </script>

<div class="col md-12">
  <div class="col">
     <center>
        <div class="card-header" >
            <h5> Bienvenue sur notre plateforme de soin naturel !</h5>
        </div>
      </center>
      <div class="col md-12" style=" float:left; width: 550px;height: 700px;margin-top: 20px;">
          <div class="card-body">
            <div class="card-text col md-12">
              <ul>
                <li>
                  Notre site de consultation est dédié à vous offrir des services <br>
                  de qualité pour répondre à vos besoins et préoccupations.
                </li>
                <li>
                  Que ce soit pour des conseils professionnels, des avis médicaux,<br>
                  des séances de coaching personnel, ou des expertises spécialisées,<br>
                  nous mettons à votre disposition un réseau de professionnels compétents <br>
                  et expérimentés prêts à vous accompagner.
                </li>
                <li>
                  Notre équipe diversifiée de consultants qualifiés couvre une vaste gamme de domaines,<br>
                  garantissant que vous trouverez l'expertise adaptée à vos questions.
                </li>
                <li>
                  Grâce à notre plateforme conviviale et sécurisée,<br>
                  vous pouvez accéder à des consultations en ligne à tout moment et n'importe où, <br> 
                  vous offrant la flexibilité dont vous avez besoin pour votre emploi du temps chargé.
                </li>
            </ul>
                <h6>Comment ça fonctionne ?</h6>
                <ol>
                <li>
                    Choisissez le domaine de consultation qui correspond à vos besoins : <br>
                    que ce soit professionnel, médical, psychologique, juridique, <br>
                    ou autre, nous avons le consultant adapté pour vous.
                </li>
                <li>
                    Sélectionnez un consultant parmi nos professionnels certifiés.
                </li>
                <li>
                    Planifiez une consultation en ligne à votre convenance.
                </li>
                <li>
                    Profitez de la consultation en temps réel, via un chat,
                    un appel vocal ou une vidéoconférence, selon vos préférences.
                </li>
                <li>Bénéficiez d'avis éclairés, de conseils pertinents
                  et de solutions adaptées à votre situation</li>
              </ol>
            </div>
          </div>
        
        </div>
  </div>
    
  <div class="col md-12">
    <div style=" float:right; width: 350px;height: 800px;margin-top: 20px;">
              
                  <div class="col">
                    <p>Pour tous besion de consultation voir cette page </p>
                    <div class="card h-100" style="background-color:blue;">
                      <div class="card-body" style="height: 70px;">
                        
                        <a href="{% url 'acceuille' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">Se faire consulter</h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="col">
                    <p>Pour tous besion d'interpretation de reve voir cette page</p>
                    <div class="card h-100" style="background-color: blue;">
                    
                      <div class="card-body" style="height: 70px;">

                        <a href="{% url 'acceuillereve' %}">
                          <center>
                        <h5 class="card-title" style="color: white;">Definition de reve </h5>
                        </center>
                      </a>
                        <p class="card-text"></p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="col">
                    <p>Pour tous besion d'adhesion à notre academic voir cette page </p>
                    <div class="card h-100" style="background-color: blue;">
                      
                      <div class="card-body" style="height: 70px;">
                        <a href="{% url 'acceuille_academic' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">Acceder à l'academie de formation </h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                      
                    </div>
                  </div>
                  <hr>
                  <div class="col">
                    <p>Pour tous besion de produit voir cette page </p>
                    <div class="card h-100" style="background-color: blue;">
                      <!--<img src="..." class="card-img-top" alt="...">-->
                      <div class="card-body" style="height: 70px;">
                        <a href="{% url 'homeproduit' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">Voir les produits disponibles</h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                      
                    </div>
                  </div>
                  <hr>
                  <div class="col">
                    <p>Pour tous besion d'astuce voir cette page </p>
                    <div class="card h-100" style="background-color: blue;">
                      
                      <div class="card-body" style="height: 70px;">
                        <a href="{% url 'acceuilleastuce' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">Voir les astuces naturelles</h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                      
                    </div>
                  </div>
    </div>
  </div>
</div>
<hr width="10px">
{% endblock %}