{% extends 'base.html' %}

{% block content %}

<div class="col md-12" ">
  
    
  <div class="col md-12" style="margin-right: 60px;">
    <div class="col">
              <hr>
                <div class="col">
                  <div style="float: left; width: 500px;">
                    <p> Cette page est reservée aux consultations preoccupantes (Travail,Argent, Santé, Mariages,)  </p>
                    <div class="card h-100" style="background-color:blue;">
                      <div class="card-body" style="height: 70px;">
                        
                        <a href="{% url 'acceuille' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">CONSULTATIONS</h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                    </div>
                  
                  <hr>
                  
                    <p>La nature nous parle par diverse chemin, en ce qui concerne les reves, <br>
                       cette page est la bonne pour décortiquer les messages que la nature nous envoie dans des reves  </p>
                    <div class="card h-100" style="background-color: blue;">
                    
                      <div class="card-body" style="height: 70px;">

                        <a href="{% url 'acceuillereve' %}">
                          <center>
                        <h5 class="card-title" style="color: white;">REVES</h5>
                        </center>
                      </a>
                        <p class="card-text"></p>
                      </div>
                    </div>
                  </div>
                </div>

                 
                  
                  <div class="col">
                    <div style="float: right; width: 500px;">
                      <p>Cette page est pour les produits de tout besion! <br> <br></p>
                    <div class="card h-100" style="background-color: blue;">
                      <!--<img src="..." class="card-img-top" alt="...">-->
                      <div class="card-body" style="height: 70px;">
                        <a href="{% url 'homeproduit' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">PRODUITS</h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                    </div>
                    <hr>
                    <p>Le savoir est la garantie de la réussite, pour tous ceux qui desirent apprendre ( en ligne comme présentiel) avec nos academiciens ,
                      <br> cette page sera son meilleur choix !
                    </p>
                    <div class="card h-100" style="background-color: blue;">
                      
                      <div class="card-body" style="height: 70px;">
                        <a href="{% url 'acceuille_academic' %}">
                          <center>
                          <h5 class="card-title" style="color: white;"> APPRENTIS </h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                      
                    </div>
                  </div>
                </div>  
    </div>
            <center>
                 <div style="margin-top: 400px; width: 500px;">
                    <p>Nous vous partageons ici des connaissances générales sur certains faits de la nature !    </p>
                    <div class="card h-100" style="background-color: blue;">
                      
                      <div class="card-body" style="height: 70px;">
                        <a href="{% url 'acceuilleastuce' %}">
                          <center>
                          <h5 class="card-title" style="color: white;">ASTUCES</h5>
                          </center>
                        </a>
                        <p class="card-text"></p>
                      </div>
                      
                    </div>
                  </div>
          </center>
                  
  </div>
</div>
<hr width="10px">
{% endblock %}