{% extends 'base.html' %}

{% block content %}

<div class="row md-12" >
  
    
    
          <div class="col">
              <hr>
                <div class=" float-start ">
                  
                    <p> Cette page est reservée aux consultations preoccupantes (Travail,Argent, Santé, Mariages,)  </p>
                        <button class="btn btn-primary" type="submit" style="width: 200px;" >
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                              
                          </span>
                          <a href="{% url 'acceuille' %}" style="color:white;width: 10px;"> consultation </a>
                        </button>
                      
                  <hr>
                  
                    <p>La nature nous parle par diverse chemin, en ce qui concerne les reves, <br>
                       cette page est la bonne pour décortiquer les messages que la nature nous envoie dans des reves  </p>
                    
                    <button class="btn btn-primary" type="submit" style="width: 200px;" >
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                          
                      </span>
                      <a href="{% url 'acceuillereve' %}" style="color:white;width: 10px;"> reve</a>
                    </button>
                 
                </div>
            </div>

                 
          <div class="col">   
              <div class="float-end" style="margin-left: 10px;">
                <hr>

                      <p>Cette page est pour les produits de tout besion! <br> <br></p>
                    <button class="btn btn-primary" type="submit" style="width: 200px;" >
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                          
                      </span>
                      <a href="{% url 'homeproduit' %}" style="color:white;width: 10px;"> produits </a>
                    </button>
                    <br>
                    
                    <hr>
                    <p>Le savoir est la garantie de la réussite, pour tous ceux qui desirent apprendre ( en ligne comme présentiel) avec nos academiciens ,
                      <br> cette page sera son meilleur choix !
                    </p>
                    <button class="btn btn-primary" type="submit" style="width: 200px;" >
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                          
                      </span>
                      <a href="{% url 'acceuille_academic' %}" style="color:white;width: 10px;"> apprentis </a>
                    </button>
                    
                  
                </div>
            </div>  
          
        
            <center>
              <hr>
                 <div class="float-none" style="margin-top: 20px;margin-right:20px ;">
                    <p>Nous vous partageons ici des connaissances générales sur certains faits de la nature !    </p>
                    <button class="btn btn-primary" type="submit" style="width: 200px;" >
                      <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                          
                      </span>
                      <a href="{% url 'acceuilleastuce' %}" style="color:white;width: 10px;"> astuce </a>
                    </button>
                  </div>
          </center>
                  
  
</div>
<hr width="10px">
{% endblock %}