<menu>
  
  
  <a href="{% url 'acceuil' %}" style="margin: 5px;">
    | Page d'accueille
  </a>

  <a href="{% url 'acceuillereve' %}" style="margin: 5px;">
    | Reves
  </a>
  <a href="{% url 'acceuille' %}" style="margin: 5px;">
    | Consultation
  </a>
  <a href="{% url 'homeproduit' %}" style="margin: 5px;">
    | Produits
  </a>
  <a href="{% url 'acceuilleastuce' %}" style="margin: 5px;">
    | Astuces
  </a>
  <a href="{% url 'acceuille_academic' %}" style="margin: 5px;">
    | Academie
  </a>

</menu>