{% extends  'base.html' %}


{% block content %}
<center>
    <div class="accordion" id="accordionExample">
        {% for itm in reponse %}
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                L'utilisateur {{request.user.username}} a laissé un message
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <strong>Il y a {{itm.date}}</strong> <br>
                {{itm.question}} 
                </div>
            </div>
            </div>
        {% endfor %}
      </div>
</center>

{% endblock %}